{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 3,
	"semi": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"singleQuote": true,
	"endOfLine": "crlf",
	"resolveGlobalModules": true
}
